<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Product Name & ID Row -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label><b>Product Name</b></ion-label>
          <ion-select [(ngModel)]="selectedProduct">
            <ion-select-option *ngFor="let product of productList" [value]="product">
              {{ product.itemNo }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Quantity Input -->
  <ion-item>
    <ion-input type="number" [(ngModel)]="quantity" placeholder="Enter amount"></ion-input>
  </ion-item>
</ion-content>

<!-- Submit Button -->
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="dark" (click)="addItem()">Add</ion-button>
  </ion-toolbar>
</ion-footer>
