<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Invoice# {{ invoice.invoiceNo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label><b>Select Type</b></ion-label>
    <ion-select [(ngModel)]="selectedType">
      <ion-select-option value="return">Return</ion-select-option>
      <ion-select-option value="discrepancy">Discrepancy</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><b>General Note</b></ion-label>
    <ion-textarea [(ngModel)]="generalNote" placeholder="Optional"></ion-textarea>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-row class="heading-row">
        <ion-col><b>Item</b></ion-col>
        <ion-col class="quantity-col"><b>Quantity</b></ion-col>
      </ion-row>

      <ion-grid>
        <ion-row *ngFor="let item of items; let i = index">
          <ion-col class="item-number">{{ item.itemNo }}</ion-col>
          <ion-col>
            <div class="quantity-toggle">
              <ion-button size="small" (click)="decrease(i)" [disabled]="quantityArr[i] == 0">-</ion-button>

              <ion-input type="number" [(ngModel)]="quantityArr[i]" (ionChange)="validateInput(i)" [ngClass]="{
                        'valid-input': quantityArr[i] <= items[i].quantity && quantityArr[i] >= 0,
                        'invalid-input': quantityArr[i] > items[i].quantity || quantityArr[i] < 0
                      }" min="0" style="width: 60px; text-align: center;">
              </ion-input>

              <ion-button size="small" (click)="increase(i)"
                [disabled]="quantityArr[i] >= items[i].quantity">+</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="postChange()" class="confirm-button">Post Change</ion-button>
</ion-footer>