<ion-header>
<ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Invoice# {{ invoice.invoiceNo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-item>
    <ion-label><b>Select Type</b></ion-label>
    <ion-select [(ngModel)]="selectedType">
      <ion-select-option value="R">Return</ion-select-option>
      <ion-select-option value="D">Discrepancy</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><b>General Note</b></ion-label>
    <ion-textarea [(ngModel)]="generalNote" placeholder="Optional"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><b>Return Date</b></ion-label>
    <ion-datetime [(ngModel)]="returnDate" presentation="date" preferWheel="false"></ion-datetime>

  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-row class="heading-row">
        <ion-col><b>Item</b></ion-col>
        <ion-col><b>Total</b></ion-col>
        <ion-col><b>Previously Returned</b></ion-col>
        <ion-col class="quantity-col"><b>Quantity</b></ion-col>
      </ion-row>

      <ion-grid>
        <ion-row *ngFor="let item of items; let i = index">
          <ion-col class="item-number">{{ getProductName(item.partNo) }}</ion-col>
          <ion-col class="item-number">{{ item.quantity }}</ion-col>
          <ion-col class="item-number">{{ getReturnCount(item.partNo) }}</ion-col>
          <ion-col class="item-number">
            <div class="quantity-toggle">
              <ion-input
                type="number"
                [(ngModel)]="quantityArr[i]"
                (ionChange)="validateInput(i)"
                [ngClass]="{
        'valid-input': quantityArr[i] <= items[i].quantity && quantityArr[i] >= 0,
        'invalid-input': quantityArr[i] > (items[i].quantity - getReturnCount(item.partNo)) || quantityArr[i] < 0
      }"
                min="0"
                class="quantity-input">
              </ion-input>

              <div class="button-stack">
                <ion-button size="small" (click)="increase(i)" [disabled]="quantityArr[i] >= (items[i].quantity - getReturnCount(item.partNo))" color="tertiary">+</ion-button>
                <ion-button size="small" (click)="decrease(i)" [disabled]="quantityArr[i] === 0" color="tertiary">-</ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" (click)="postChange()" class="confirm-button" color="success">Post Change</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
