.item-number {
    display: flex;
    max-height: 100%;
    align-items: center;
}

.invalid-input {
    border: 2px solid red;
    border-radius: 4px;
}

.header-toolbar {
    padding-top: 24px;
}

.quantity-toggle {
    display: flex;
    max-height: 100%;
    align-items: center;
    gap: 10px;
}

.quantity-col {
    text-align: center;
}

.confirm-button {
    background-color: var(--ion-color-primary);
}