  ion-header {
    padding-top: 24px;
  }

  ion-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  ion-card {
    background-color: var(--ion-color-primary);
  }

  ion-card-title {
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .bold-note {
    font-weight: bold;
    font-size: 1rem;
  }

  ion-item.transparent-item {
    --background: transparent;
  }

  .column-headings {
    border-top: 2px solid;
  }
