<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Invoice# {{ invoice.invoiceNo }} - ${{invoice.totalItems | number:'1.2-2'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-title>{{ invoice.company }}</ion-card-title>
    <ion-card-content>
      <ion-item lines="none" class="transparent-item">
        <ion-label>Order Number:</ion-label>
        <ion-note slot="end" class="bold-note">{{ invoice.orderNo }}</ion-note>
      </ion-item>
      
      <ion-item lines="none" class="transparent-item">
        <ion-label>Customer Number:</ion-label>
        <ion-note slot="end" class="bold-note">{{ invoice.custNo }}</ion-note>
      </ion-item>

      <ion-item lines="none" class="transparent-item">
        <ion-label>Route:</ion-label>
        <ion-note slot="end" class="bold-note">{{ invoice.routeNo }}</ion-note>
      </ion-item>

      <ion-item lines="none" class="transparent-item">
        <ion-label>Date:</ion-label>
        <ion-note slot="end" class="bold-note">{{ invoice.invoiceDate | date: 'MMM dd yyyy' }}</ion-note>
      </ion-item>

      <ion-item lines="none" class="transparent-item">
        <ion-label>Delivery Status: </ion-label>
        <ion-note slot="end" class="bold-note">{{ invoice.generate === 'Y' ? 'Delivered' : 'Not Delivered' }}</ion-note>
      </ion-item>

      <ion-item lines="none" class="transparent-item" *ngIf="invoice.generalNote">
        <ion-label>Note:</ion-label>
        <ion-note slot="end" class="bold-note">{{invoice.generalNote}}</ion-note>
      </ion-item>

      <ion-item lines="none" class="transparent-item" *ngIf="invoice.terms">
        <ion-label>Terms: </ion-label>
        <ion-note slot="end" class="bold-note">{{invoice.terms}}</ion-note>
      </ion-item>


      <ion-grid class="column-headings">
        <ion-row>
          <ion-col><b>Item</b></ion-col>
          <ion-col><b>Unit Price</b></ion-col>
          <ion-col><b>Quantity</b></ion-col>
          <ion-col><b>Total Price</b></ion-col>
        </ion-row>

        <ion-row *ngFor="let item of items">
          <ion-col>{{ item.itemNo }}</ion-col>
          <ion-col>{{ item.price.toFixed(2) }}</ion-col>
          <ion-col>{{ item.quantity }}</ion-col>
          <ion-col>${{ (item.price * item.quantity).toFixed(2) }}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="column-headings">
        <ion-row>
          <ion-col><b>Subtotal</b></ion-col>
          <ion-col></ion-col>
          <ion-col>${{ total.toFixed(2) }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col><b>VAT</b></ion-col>
          <ion-col></ion-col>
          <ion-col>${{ vat.toFixed(2) }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col><b>Tax</b></ion-col>
          <ion-col></ion-col>
          <ion-col>${{ total * invoice.taxRate / 100 }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col><b>Discount</b></ion-col>
          <ion-col></ion-col>
          <ion-col>${{ invoice.totalItems * invoice.taxRate / 100 }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col><b>Amount Due</b></ion-col>
          <ion-col></ion-col>
          <ion-col>${{ invoice.totalItems.toFixed(2) }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

  <ion-footer>
    <ion-toolbar class="footer-buttons">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="full" color="success" (click)="confirmDelivery()">
              Confirm Delivery
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" color="warning" (click)="handleReturnOrDiscrepancy()">
              Return / Discrepancy
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
