// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #F2F1ED;
  --ion-color-primary-rgb: 129, 191, 218; // Soft Blue
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #73a8c0;
  --ion-color-primary-tint: #96c9df;

  --ion-color-secondary: #dad9d567; // Soft Yellow
  --ion-color-secondary-rgb: 250, 218, 122;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-shade: #e1c56c;
  --ion-color-secondary-tint: #fbe093;

  --ion-color-tertiary: #dcccec; // Pale Beige
  --ion-color-tertiary-rgb: 245, 240, 205;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-shade: #dcd9b5;
  --ion-color-tertiary-tint: #f7f3d7;

  --ion-color-lightblue: #BCD8EC; // Light Cyan
  --ion-color-lightblue-rgb: 245, 240, 205;
  --ion-color-lightblue-contrast: #000000;
  --ion-color-lightblue-shade: #dcd9b5;
  --ion-color-lightblue-tint: #f7f3d7;

  --ion-color-orange: #E54E04;
  --ion-color-orange-rgb: 245, 240, 205;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-shade: #dcd9b5;
  --ion-color-orange-tint: #f7f3d7;

}