.invoice-card {
  margin: 10px;
  padding: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

ion-icon {
  font-size: 24px;
}

.tab-count {
  font-size: 16px;
  font-weight: bold;
}

ion-card {
  border-radius: 16px;
  background-color: var(--ion-color-secondary);
}

/* Padding to avoid overflow with android notification bar*/
ion-header {
  padding-top: 24px;
  background-color: var(--ion-color-secondary);
}

/* Top Navigation Bar*/
ion-tab-bar {
  background-color: var(--ion-color-lightblue);
}

ion-tab-button {
  background-color: transparent;
  color: var(--ion-color-black);
}

ion-tab-button.selected {
  color: var(--ion-color-orange);
}

ion-searchbar {
  --cancel-button-color: var(--ion-color-primary);
}

.returns-title {
  text-align: center;
  border-bottom: 1px solid;
}

.returns-heading {
  padding-top: 10px;
}

.align-center {
  text-align: center;
}

ion-searchbar {
  background-color: var(--ion-color-lightblue);
}