<ion-header [translucent]="true">
  <ion-toolbar color="translucent">
    <ion-searchbar color="light"
                   #searchBar mode="ios" [(ngModel)]="searchQuery" (ionInput)="filterInvoices($event)"
                   (ionCancel)="cancelSearch()" placeholder="Search for Customer or Invoice...">
    </ion-searchbar>

    <ion-tab-bar class="top-tab-bar">
      <ion-tab-button [class.selected]="selectedTab === 'delivered'" (click)="setTopTab('delivered')">
        <div class="tab-count">{{ deliveredCount }}</div>
        <ion-label>Delivered</ion-label>
      </ion-tab-button>
      <ion-tab-button [class.selected]="selectedTab === 'pending'" (click)="setTopTab('pending')">
        <div class="tab-count">{{ undeliveredCount }}</div>
        <ion-label>Pending</ion-label>
      </ion-tab-button>
      <ion-tab-button [class.selected]="selectedTab === 'returns'" (click)="setTopTab('returns')">
        <div class="tab-count">{{ returnsCount }}</div>
        <ion-label>Returns</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="openFilterPopover($event)">
        <ion-label> {{filterParameter}} </ion-label>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-card class="invoice-card" *ngFor="let invoice of filteredInvoices" (click)="openInvoiceDetails(invoice)">
      <ion-card-header>
        <ion-card-title> {{invoice.invoiceNo}} </ion-card-title>
        <ion-card-subtitle> <ion-icon name="person-circle"></ion-icon> {{ invoice.company }} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <span>
          Customer Number: <b>{{invoice.custNo}}</b> <br>
        </span>
        <span>
          <ion-icon name="calendar"></ion-icon> {{ invoice.invoiceDate | date: 'MMM dd yyyy' }}<br>
        </span>
        <span>
          <ion-icon name="cash-outline"></ion-icon> <b> $ {{ invoice.totalItems }}</b><br>
        </span>
        <span>
          <ion-icon name="notifications" [style.color]="invoice.generate === 'Y' ? 'green' : 'orange'"></ion-icon>
          <b>Status -</b> {{ invoice.generate === 'Y' ? 'Delivered' : 'Not Delivered' }}
        </span>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list *ngIf="returnSelected">
    <ion-card class="return-card" *ngFor="let item of groupedReturns | keyvalue">
      <ion-card-header>
        <ion-card-title class="returns-title"> {{item.key}} </ion-card-title>

        <ion-item class="return-heading" color="translucent">
          <ion-grid>
            <ion-row>
              <ion-col>Item Number</ion-col>
              <ion-col class="align-center">Quantity</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="return-item" *ngFor="let entries of item.value" color="transparent" lines="none">
          <ion-grid>
            <ion-row>
              <ion-col>{{entries.partNo}}</ion-col>
              <ion-col class="align-center">{{entries.qtyadj}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
