<ion-header>
  <ion-toolbar color="translucent">
    <ion-title >Synchronization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card>
    <ion-card-title>Download Data</ion-card-title>

    <ion-card-content>

      <ion-list>
        <ion-radio-group [(ngModel)]="routeNo">
          <ion-item *ngFor="let route of routes" color="translucent" lines="none">
            <ion-radio [value]="route" color="dark">{{route}}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>

    <div class="datetime-container">
      <ion-datetime presentation="date" [(ngModel)]="selectedDate" (ionChange)="onDateSelected($event)" [min]="minDate"
        [max]="maxDate" color="dark"></ion-datetime>
    </div>

    <div class="download-button-container">
      <ion-button class="download-button" (click)="downloadAndSave()" color="success">Download</ion-button>
    </div>
  </ion-card>

  <div class="upload-container">
    <ion-button class="upload-button" (click)="uploadChanges()" color="warning">Upload Changes</ion-button>
  </div>
</ion-content>
