.small-header ion-toolbar {
  height: 40px;
  font-size: 14px;
}

.summary {
  text-align: center;
  background: #f4f4f4;
  padding: 10px;
}

.summary-item {
  border-right: 1px solid #ddd;
}

.invoice-card {
  margin: 10px;
  padding: 10px;
}

ion-footer {
  background: #f8f8f8;
  padding: 10px;
  text-align: center;
}

ion-button {
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

#filter-button {
  margin-left: 5px;
  font-size: 0.8em;
  padding: 5px;
}

#filter-dropdown {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 200px;
  z-index: 1000;
  margin-right: 10px;
  padding: 10px;
}

#filter-dropdown.show {
  display: block !important;
}